.m-0 {
  margin: 0rem;
}

.m-t-0 {
  margin-top: 0rem;
}

.p-0 {
  padding: 0rem;
}

.p-t-0 {
  padding-top: 0rem;
}

.m-0 {
  margin: 0rem;
}

.m-b-0 {
  margin-bottom: 0rem;
}

.p-0 {
  padding: 0rem;
}

.p-b-0 {
  padding-bottom: 0rem;
}

.m-0 {
  margin: 0rem;
}

.m-l-0 {
  margin-left: 0rem;
}

.p-0 {
  padding: 0rem;
}

.p-l-0 {
  padding-left: 0rem;
}

.m-0 {
  margin: 0rem;
}

.m-r-0 {
  margin-right: 0rem;
}

.p-0 {
  padding: 0rem;
}

.p-r-0 {
  padding-right: 0rem;
}

.m-1 {
  margin: 1rem;
}

.m-t-1 {
  margin-top: 1rem;
}

.p-1 {
  padding: 1rem;
}

.p-t-1 {
  padding-top: 1rem;
}

.m-1 {
  margin: 1rem;
}

.m-b-1 {
  margin-bottom: 1rem;
}

.p-1 {
  padding: 1rem;
}

.p-b-1 {
  padding-bottom: 1rem;
}

.m-1 {
  margin: 1rem;
}

.m-l-1 {
  margin-left: 1rem;
}

.p-1 {
  padding: 1rem;
}

.p-l-1 {
  padding-left: 1rem;
}

.m-1 {
  margin: 1rem;
}

.m-r-1 {
  margin-right: 1rem;
}

.p-1 {
  padding: 1rem;
}

.p-r-1 {
  padding-right: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-t-2 {
  margin-top: 2rem;
}

.p-2 {
  padding: 2rem;
}

.p-t-2 {
  padding-top: 2rem;
}

.m-2 {
  margin: 2rem;
}

.m-b-2 {
  margin-bottom: 2rem;
}

.p-2 {
  padding: 2rem;
}

.p-b-2 {
  padding-bottom: 2rem;
}

.m-2 {
  margin: 2rem;
}

.m-l-2 {
  margin-left: 2rem;
}

.p-2 {
  padding: 2rem;
}

.p-l-2 {
  padding-left: 2rem;
}

.m-2 {
  margin: 2rem;
}

.m-r-2 {
  margin-right: 2rem;
}

.p-2 {
  padding: 2rem;
}

.p-r-2 {
  padding-right: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-t-3 {
  margin-top: 3rem;
}

.p-3 {
  padding: 3rem;
}

.p-t-3 {
  padding-top: 3rem;
}

.m-3 {
  margin: 3rem;
}

.m-b-3 {
  margin-bottom: 3rem;
}

.p-3 {
  padding: 3rem;
}

.p-b-3 {
  padding-bottom: 3rem;
}

.m-3 {
  margin: 3rem;
}

.m-l-3 {
  margin-left: 3rem;
}

.p-3 {
  padding: 3rem;
}

.p-l-3 {
  padding-left: 3rem;
}

.m-3 {
  margin: 3rem;
}

.m-r-3 {
  margin-right: 3rem;
}

.p-3 {
  padding: 3rem;
}

.p-r-3 {
  padding-right: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-t-4 {
  margin-top: 4rem;
}

.p-4 {
  padding: 4rem;
}

.p-t-4 {
  padding-top: 4rem;
}

.m-4 {
  margin: 4rem;
}

.m-b-4 {
  margin-bottom: 4rem;
}

.p-4 {
  padding: 4rem;
}

.p-b-4 {
  padding-bottom: 4rem;
}

.m-4 {
  margin: 4rem;
}

.m-l-4 {
  margin-left: 4rem;
}

.p-4 {
  padding: 4rem;
}

.p-l-4 {
  padding-left: 4rem;
}

.m-4 {
  margin: 4rem;
}

.m-r-4 {
  margin-right: 4rem;
}

.p-4 {
  padding: 4rem;
}

.p-r-4 {
  padding-right: 4rem;
}

.m-5 {
  margin: 5rem;
}

.m-t-5 {
  margin-top: 5rem;
}

.p-5 {
  padding: 5rem;
}

.p-t-5 {
  padding-top: 5rem;
}

.m-5 {
  margin: 5rem;
}

.m-b-5 {
  margin-bottom: 5rem;
}

.p-5 {
  padding: 5rem;
}

.p-b-5 {
  padding-bottom: 5rem;
}

.m-5 {
  margin: 5rem;
}

.m-l-5 {
  margin-left: 5rem;
}

.p-5 {
  padding: 5rem;
}

.p-l-5 {
  padding-left: 5rem;
}

.m-5 {
  margin: 5rem;
}

.m-r-5 {
  margin-right: 5rem;
}

.p-5 {
  padding: 5rem;
}

.p-r-5 {
  padding-right: 5rem;
}

.m-6 {
  margin: 6rem;
}

.m-t-6 {
  margin-top: 6rem;
}

.p-6 {
  padding: 6rem;
}

.p-t-6 {
  padding-top: 6rem;
}

.m-6 {
  margin: 6rem;
}

.m-b-6 {
  margin-bottom: 6rem;
}

.p-6 {
  padding: 6rem;
}

.p-b-6 {
  padding-bottom: 6rem;
}

.m-6 {
  margin: 6rem;
}

.m-l-6 {
  margin-left: 6rem;
}

.p-6 {
  padding: 6rem;
}

.p-l-6 {
  padding-left: 6rem;
}

.m-6 {
  margin: 6rem;
}

.m-r-6 {
  margin-right: 6rem;
}

.p-6 {
  padding: 6rem;
}

.p-r-6 {
  padding-right: 6rem;
}

.m-7 {
  margin: 7rem;
}

.m-t-7 {
  margin-top: 7rem;
}

.p-7 {
  padding: 7rem;
}

.p-t-7 {
  padding-top: 7rem;
}

.m-7 {
  margin: 7rem;
}

.m-b-7 {
  margin-bottom: 7rem;
}

.p-7 {
  padding: 7rem;
}

.p-b-7 {
  padding-bottom: 7rem;
}

.m-7 {
  margin: 7rem;
}

.m-l-7 {
  margin-left: 7rem;
}

.p-7 {
  padding: 7rem;
}

.p-l-7 {
  padding-left: 7rem;
}

.m-7 {
  margin: 7rem;
}

.m-r-7 {
  margin-right: 7rem;
}

.p-7 {
  padding: 7rem;
}

.p-r-7 {
  padding-right: 7rem;
}

.flex-w-1 {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
}

.flex-w-2 {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

.flex-w-3 {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
}

.flex-w-4 {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}

.flex-w-5 {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.flex-w-6 {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}

.flex-w-7 {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
}

.flex-w-8 {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
}

.flex-w-9 {
  -webkit-box-flex: 90%;
      -ms-flex: 90%;
          flex: 90%;
}

.flex-w-10 {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.bg-primary {
  background-color: #C20505;
  color: #fff;
}

.bg-dark {
  background-color: #282525;
  color: #fff;
}

.bg-light {
  background-color: #e4e0e0;
  color: #333;
  border: #ccc 1px solid;
}

.bg-danger {
  background-color: #de3b4b;
  color: #fff;
}

.bg-succes {
  background-color: #18a236;
  color: #fff;
}

.bg-white {
  background-color: #fff;
  color: #333;
}

.btn {
  display: inline-block;
  background: #C20505;
  color: #e4e0e0;
  font-size: 0.75rem;
  padding: 0.3rem 0.6rem;
  text-align: center;
  margin-right: 0.5rem;
  border: none;
  outline: none;
}

.btn:hover {
  background: #404040;
  color: #fff !important;
}

.btn i {
  padding-right: 4px;
}

.primary-btn {
  background-color: #C20505;
  color: #fff;
}

.primary-btn:hover {
  background: #404040;
}

.dark-btn {
  background-color: #282525;
  color: #fff;
}

.dark-btn:hover {
  background: #353131;
}

.light-btn {
  background-color: #e4e0e0;
  color: #333;
}

.light-btn:hover {
  background: #db0606;
}

.danger-btn {
  background-color: #de3b4b;
  color: #fff;
}

.danger-btn:hover {
  background: #e2515f;
}

.success-btn {
  background-color: #18a236;
  color: #fff;
}

.success-btn:hover {
  background: #1bb83d;
}

.border-btn {
  background: transparent;
  color: #404040;
  border: 1px solid #757575;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.container {
  max-width: calc(100% - 166px);
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  overflow: hidden;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  color: #333;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #C20505;
  font-weight: bold;
}

a:hover {
  color: #404040 !important;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

input,
button {
  outline: none;
  border: none;
}

button, a, .btn {
  cursor: pointer;
}

.o-hidden {
  overflow: hidden;
}

.p-relative {
  position: relative;
}

.h-auto {
  height: auto !important;
}

a, img, input, textarea, button, .btn, :before, :after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.small-heading, .main-heading {
  line-height: 1.2;
  font-weight: bold;
}

.small-heading {
  font-size: 1.5rem;
}

.main-heading {
  font-size: 2.5rem;
}

.navigation {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 40%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 100000;
  overflow: hidden;
}

.navigation.active {
  height: 350px;
}

.navigation .toggle {
  position: relative;
  top: -4px;
  right: 0;
  width: 100%;
  height: 50px;
  color: #7c0029;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.navigation .toggle span {
  position: relative;
  width: 20px;
  height: 50px;
}

.navigation .toggle span::before,
.navigation .toggle span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #7c0029;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navigation .toggle span::before {
  top: 20px;
}

.navigation .toggle span::after {
  bottom: 20px;
}

.navigation .toggle.active span:before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: 24px;
}

.navigation .toggle.active span:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  bottom: 24px;
}

.navigation ul {
  position: relative;
  background: #730541;
  padding: 15px 10px 15px 15px;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  padding: 10px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.navigation ul li a:hover {
  -webkit-transition: 0s;
  transition: 0s;
  background: #f70a8a;
}

.mobile-submenu {
  display: none;
}

.mobile-submenu-item.mSactive .mobile-submenu {
  display: block;
  padding: 0 10px 0 20px;
}

.mobile-submenu-item {
  position: relative;
}

.mobile-submenu-item:after {
  content: "";
  position: absolute;
  right: 0;
  top: 19px;
  height: 1px;
  width: 10px;
  background: #fff;
}

.mobile-submenu li a {
  padding: 5px 0 !important;
  font-size: 13px !important;
  color: #bbbbbd !important;
}

@media only screen and (min-width: 801px) {
  .navigation {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .main-header .header-top-bar-content {
    font-size: .625rem !important;
  }
  .main-header .header-top-bar-content .social-icons {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .main-header .header-top-bar-content .top-bar-block {
    width: 100%;
  }
  .main-header .header-top-bar-content .top-bar-block .top-bar-items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-header .main-menu {
    display: none !important;
  }
  .footer .footer-content-area {
    gap: 30px;
  }
  .footer .footer-content-area .footer-widget {
    -webkit-box-flex: 100% !important;
        -ms-flex: 100% !important;
            flex: 100% !important;
    max-width: 100% !important;
    padding-left: 0 !important;
  }
  .footer .footer-bottom .footer-menu {
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
  }
}

.header-top-bar .header-top-bar-content {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.625rem 0;
  font-size: 0.875rem;
  gap: 10px;
}

.header-top-bar .header-top-bar-content .top-bar-block .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-top-bar .header-top-bar-content .top-bar-block .top-bar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top-bar .header-top-bar-content .top-bar-block .top-bar-items .daily-date {
  padding-right: 1rem;
}

.header-top-bar .header-top-bar-content .top-bar-block .top-bar-items span {
  padding-left: 0.25rem;
}

.header-top-bar .header-top-bar-content .top-bar-block .search-bar {
  position: relative;
}

.header-top-bar .header-top-bar-content .top-bar-block .search-bar input {
  width: 100%;
}

.header-top-bar .header-top-bar-content .top-bar-block .search-bar button {
  position: absolute;
  right: 0;
  font-size: 13px;
  background: #404040;
}

.header-top-bar .header-top-bar-content a {
  padding-right: 1rem;
  font-weight: normal;
  color: #fff;
}

.navigation-block {
  padding: 10px 0px;
}

.navigation-block .container {
  overflow: initial;
}

.navigation-block .container .header-main-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-block .container .header-main-nav .logo a {
  font-size: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navigation-block .container .header-main-nav .logo a span {
  color: #404040;
}

.navigation-block .container .header-main-nav .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-block .container .header-main-nav .main-menu .main-menu-item {
  padding-left: 1rem;
}

.navigation-block .container .header-main-nav .main-menu .main-menu-item .main-menu-item-link {
  line-height: 70px;
  color: #404040;
}

.navigation-block .container .header-main-nav .main-menu .main-menu-item .main-menu-item-link:hover {
  color: #C20505 !important;
}

.footer {
  background: #404040;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #C20505 !important;
}

.footer p {
  color: #fff;
}

.footer-content-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-content-area .footer-widget {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  max-width: 33.33%;
}

.footer-content-area .footer-widget .section-heading {
  color: #fff;
}

.footer-bottom {
  background: #5ea7f20d;
  font-size: 0.75rem;
}

.footer-bottom p {
  color: #fff;
}

.footer-bottom li {
  position: relative;
}

.footer-bottom li a {
  font-weight: 500;
}

.footer-bottom li:not(:last-child):after {
  content: "/";
  position: absolute;
  right: -11px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */