$primary-color: #C20505;
$secondary-color: #404040;

$dark-color: #000;
$light-color: #e4e0e0;
$danger-color: #de3b4b;
$success-color: #18a236;

$white-color: #fff;
$black-color: #000;
$grey-color: #353535;

$default-text-color: #707070;
$placeholder-color: #070e1b9e;

$box-shadow-color: rgb(194 5 5 / 0.15);

$default-line-height: 1.2;